<header class="h-[70px] border px-20 shadow-lg flex items-center">
    <nav class="flex justify-between w-full">
        <h1 class="font-extrabold text-xl">
            <a routerLink="/">
                Shopping List App
            </a>
        </h1>

        <ul class="flex gap-10">
            <li>
                <a routerLink="/all-items">All Items</a>
            </li>
            <li>
                <a routerLink="/add-item">Add Item</a>
            </li>

            <li class="relative">
                <label for="" class="settings">Settings</label>
                <div class="links absolute top-3 right-0">
                    <ul class="border bg-white p-3 shadow-md w-[200px]">
                        <li class="text-center border-b">
                            <a routerLink="/add-group">Create A Category</a>
                        </li>
                        <li class="text-center">
                            <a routerLink="/all-groups">Category's List</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>