<header class="h-[70px] border px-10 shadow-lg flex items-center">
    <nav class="flex justify-between w-full">
        <h1>
            <a routerLink="/">
                Shopping List App
            </a>
        </h1>

        <ul class="flex gap-10">
            <li>
                <a href="">Add Item</a>
            </li>

            <li>
                <select name="" id="">
                    <option value="">Settings</option>
                    <option value="">
                        <a href="">Create a Category</a>
                    </option>
                </select>
            </li>
        </ul>
    </nav>
</header>