<section class="pt-10">
    <h1 class="text-center font-bold text-4xl pb-4 text-cyan-500">{{group}} Category</h1>
    <div class="w-[50%] m-auto">
        <div class="flex text-center shadow-md font-bold border-b-2 border-b-cyan-500">
            <h1 class="border p-3 w-full">Item Name</h1>
            <h1 class="border p-3 w-full">Quantity</h1>
            <h1 class="border p-3 w-full">Price</h1>
            <h1 class="border p-3 w-full">Actions</h1>
        </div>

        <section *ngIf="items">
            <div *ngFor="let item of items" class="flex text-center shadow-md border my-2">
                <h1 class="p-3 w-full">{{item.item_name}}</h1>
                <h1 class="p-3 w-full">{{item.quantity}}</h1>
                <h1 class="p-3 w-full">${{item.price}}</h1>
    
                <h1 class="w-full flex justify-center">
                    <a href="/edit-item/{{item._id}}" title="Edit" class="bg-green-400 flex justify-center items-center w-full">
                            <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <div title="Delete" 
                    (click)="removeItem(item._id)"
                    class="bg-red-400 flex justify-center items-center w-full cursor-pointer">
                            <i class="fa-solid fa-trash-can"></i>
                    </div>
                </h1>
            </div>
        </section>
        
        <section *ngIf="!items.length">
            <h1 class="text-2xl text-cyan-500 py-3">No Items in {{group}} category</h1>
            <div class="text-end">
                <a routerLink="/add-item" class="p-3 shadow-md my-2 text-white bg-cyan-500">
                    Add Item
                </a>
            </div>
        </section>
    </div>
</section>