<section class="pt-10">
    <h1 class="text-center font-bold text-4xl pb-3 text-cyan-500">Add New Item</h1>
    <div class="w-[50%] m-auto">
        <form (submit)="onSubmit()"  action="" class="w-[50%] m-auto" [formGroup]="addList">
            <div class="flex border p-3 shadow-md my-2">
                <label for="" class="w-[35%] font-medium">Item Name:</label>
                <input type="text" name="item_name" formControlName="item_name" class="outline-none border-b w-full">
            </div>

            <div class="flex border p-3 shadow-md my-2">
                <label for="" class="w-[35%] font-medium">Category:</label>
                <select name="category" id="category" class="outline-none border-b w-full" formControlName="category">
                    <option value="" hidden>--Select Category--</option>
                    <option *ngFor="let group of categories" value="{{group.category_name}}">
                        {{group.category_name}}
                      </option>
                </select>
            </div>

            <div class="flex border p-3 shadow-md my-2">
                <label for="" class="w-[35%] font-medium">Price:</label>
                <input type="number" name="price" formControlName="price" class="outline-none border-b w-full">
            </div>

            <div class="flex border p-3 shadow-md my-2">
                <label for="" class="w-[35%] font-medium">Quantity:</label>
                <input type="number" name="quantity" formControlName="quantity" class="outline-none border-b w-full">
            </div>

            <div class="text-end">
                <button type="submit" class=" p-3 shadow-md my-2 text-white bg-cyan-500">Add Item</button>
            </div>
        </form>
    </div>
</section>